body {
    background-color: #141D2F;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    padding-left: 100px;
    padding-right: 100px;

    img {
        height: 30px;
        cursor: pointer;
    }
}


