<div class="description-content">
    <div class="background">
        <img src="./assets/img/Purple shadow.png" alt="">
    </div>
    <div class="description-content-left">
        <p>About me</p>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos in debitis exercitationem esse consequuntur itaque reiciendis, nulla impedit at? Eligendi molestias facilis sed quam similique eos porro quaerat pariatur deleniti.</span>
        
        <div class="description-content-child">
            <img src="./assets/img/bulb.png" alt="">
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ullam labore, molestiae ratione reiciendis adipisci, beatae itaque, numquam cupiditate odit laudantium incidunt modi rerum nisi magni unde dolores possimus provident!</span>
        </div>
        <div class="description-content-child">
            <img src="./assets/img/puzzle.png" alt="">
            <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos dolore, nisi saepe consequuntur recusandae architecto earum ut a animi officiis, harum, expedita fugit voluptate minus atque? Unde id consequuntur molestias?</span>
        </div>
    </div>
    <div class="description-content-right">
        <img src="./assets/img/profilbild.png" alt="">
        <div ></div>
    </div>
</div>