.skills-container {
    display: flex;
    height: 80vh;
    background-color: #141D2F;
    max-width: 100%;
    @media (max-width:840px) {
        flex-direction: column;
        position: relative;
    }
    @media(max-width:400px) {
        height: 100vh;
    }
}

.background {
    position: absolute;
    left: -338px;
    z-index: 0;

    img {
        width: 100%;
        height: 100%;

    }
}

.skills-icons-container {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    column-gap: 110px;
    max-width: 45%;
    padding-left: 100px;
    row-gap: 50px;
    margin-top: 200px;

    @media (max-width:1530px) {
        column-gap: 100px;
    }

    @media (max-width:1380px) {
        column-gap: 75px;
    }

    @media (max-width:1130px) {
        max-width: 50%;
        padding-left: 55px;
    }
    @media (max-width:840px) {
        max-width: 98%;
        padding-left: 0px;
        column-gap: 100px;
        justify-content: center;
        align-items: center;
        margin-top: 280px;
    }
    @media (max-width:400px){
        row-gap: 65px;
        column-gap: 80px;
    }
    @media (max-width:355px){
        column-gap: 65px;
    }

    

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 80px;
        height: 100px;
        transition: 150ms ease-in-out;

        @media (max-width:1250px) {
            width: 70px;
            height: 90px;
        }
        @media (max-width:850px) {
            width: 50px;
            height: 70px;
        }
        
        
        img {
            height: 60px;
    
            &:hover {
                transform: scale(1.1);
            }
            @media (max-width:440px) {
                width: 45px;
                height: 65px;
            }
            @media (max-width:400px) {
                width: 40px;
                height: 60px;
            }
            @media (max-width:355px) {
                width: 35px;
                height: 55px;
            }
        }
    }

    span {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        color: white;
    }
}

.my-skills-btn-box {
    margin-top: 180px;
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 2;
    right: 210px;
    max-width: 30%;
    color: white;
    text-align: center;
    align-items: center;

    @media (max-width:1530px) {
        right: 100px;
    }
    @media (max-width:1130px) {
        right: 70px;
        max-width: 40%;
    }
    @media (max-width:1070px) {
        right: 20px;
    }
    @media (max-width:840px) {
        right: 62px;
        top: -120px;
        max-width: 80%;
        margin-top: 0;
        text-align: end;
        align-items: flex-end;
    }

    p {
        line-height: 108px;
        font-size: 90px;
        font-weight: 700;
        margin-bottom: 20px;

        @media (max-width:1330px) {
            font-size: 75px;
        }

    }

    span {
        font-size: 16px;
        margin-bottom: 40px;
    }
}

.border{
    height: 5px ;
    background-color: #4b47ff;
    position: absolute;
    width: 44px;
    right: -62px;
    top: 55px;
    display: none;
    @media(max-width: 840px){
        display: unset;
    }
}