<div class="skills-container">
    <div class="background">
        <img src="./assets/img/backgrounds/background-skills.png" alt="">
    </div>

    <div class="skills-icons-container">
        <div>
            <img src="./assets/img/icons/angular.png" alt="">
            <span>Angular</span>
        </div>
        <div>
            <img src="./assets/img/icons/typescript.png" alt="">
            <span>Typescript</span>
        </div>
        <div>
            <img src="./assets/img/icons/javascript.png" alt="">
            <span>Javascript</span>
        </div>
        <div>
            <img src="./assets/img/icons/html.png" alt="">
            <span>HTML</span>
        </div>
        <div>
            <img src="./assets/img/icons/firebase.png" alt="">
            <span>Firebase</span>
        </div>
        <div>
            <img src="./assets/img/icons/git.png" alt="">
            <span>GIT</span>
        </div>
        <div>
            <img src="./assets/img/icons/css.png" alt="">
            <span>CSS</span>
        </div>
        <div>
            <img src="./assets/img/icons/api.png" alt="">
            <span>Rest-API</span>
        </div>
        <div>
            <img src="./assets/img/icons/material_design.png" alt="">
            <span>Material<br>Design</span>
        </div>
        <div>
            <img src="./assets/img/icons/scrum.png" alt="">
            <span>Scrum</span>
        </div>
    </div>

    <div class="my-skills-btn-box">
            <p>My skills</p>
            <span>The time I was studying I growed my frontend developments skills everyday and created various exciting projects.</span>

            <button class="btn" mat-raised-button>Get in touch</button>
    </div>
</div>
