<div class="introduction">
    <div class="background">
        <img src="./assets/img/backgrounds/Vector.png" alt="">
    </div>
    <div class="content-left">
        <img src="./assets/img/backgrounds/shadow_introduction.png" alt="">
        <img class="intro-pic" src="./assets/img/intro-pic.png" alt="">
    </div>
    <div class="content-right">
        <div class="d-flex">
            <div class="headline-rotated">
                <span>
                    I am
                </span>
            </div>
            <div class="headline-box">
                <div>
                    <span>Kaser Mahmood</span>
                    <p>FULL-STACK DEVELOPER</p>
                </div>
            </div>
        </div>

        <div class="btn-container">
            <button class="btn" mat-raised-button>Get in touch</button>
        </div>
    </div>
</div>

<div class="cotacts-links-box">
    <div class="border"></div>
    <div class="contacts-icon-box">
        <img src="./assets/img/github.png" alt="">
        <img src="./assets/img/email.png" alt="">
        <img src="./assets/img/linkedin.png" alt="">
    </div>
    <span>
        Kaser&#64;live.de
    </span>
</div>
<div class="scroll-down-text">
    <span>
        Scroll down
    </span>
    <img src="./assets/img/arrow.png" alt="">
</div>