<div class="introduction">
    <div class="background">
        <img src="./assets/img/Vector.png" alt="">
    </div>
    <div class="content-left">
        <img src="./assets/img/shadow_introduction.png" alt="">
        <img class="intro-pic" src="./assets/img/intro-pic.png" alt="">
    </div>
    <div class="content-right">
        <div class="d-flex" >
            <div class="headline-rotated">
            <span>
                I am
            </span>
        </div>
        <div class="headline-box">
            <div>
                <span>Kaser Mahmood</span>
                <p>FULL-STACK DEVELOPER</p>
            </div>
        </div>
        </div>
        
<div class="btn-talk-container">
                <button class="btn-talk" mat-raised-button>Let's Talk</button>
            </div>
    </div>
</div>