.portfolio-container {
    background-color: #141D2F;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    overflow: hidden;
    position: relative;
    z-index: 1;

}

.projects-container {
    display: flex;
    width: 100%;
    align-items: center;
}

.headline-container {
    @media(max-width:570px) {
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
    }

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        font-size: 16px;
    }
}

.headline {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    width: 100%;

    @media (max-width:850px) {
        gap: 7px;
    }

    p {
        line-height: 108px;
        font-size: 90px;
        font-weight: 700;

        @media (max-width:1330px) {
            font-size: 75px;
        }

    }

}

.border {
    height: 5px;
    width: 110px;
    background-color: #4B47FF;

    @media (max-width:850px) {
        width: 30px;
    }
}

.long-border {
    height: 5px;
    width: 37%;
    background-color: #4B47FF;

    @media (max-width:850px) {
        width: 14%;
    }
}

.single-projects {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    gap: 180px;
    margin-bottom: 100px;

    p {
        font-size: 32px !important;
        font-weight: 700;
        color: #4B47FF;
    }

    @media(max-width:990px) {
        gap: 100px;
    }

    @media(max-width:850px) {
        flex-direction: column;
    }
    @media(max-width:400px) {
        width: 98%;
    }
}

.projects-img {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: all 150ms ease-in-out;

    &:hover {
        transform: scale(1.1);
    }

    @media(max-width:900px) {
        width: 40%;
    }

    @media(max-width:850px) {
        width: 100%;
        justify-content: center !important;
    }
    img{
        @media(max-width:440px) {
            width: 80%;
        }
    }
}

.projects-description {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media(max-width:900px) {
        width: 350px;
        text-align: center;
        align-items: center !important;
    }
    @media(max-width:500px) {
        width: 80%;
    }

    span {
        font-size: 16px;
        max-width: 700px;

    }

    div {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        gap: 100px;

        a{
            @media(max-width:440px) {
                white-space: nowrap;
            }
            @media(max-width:385px) {
                font-size: 18px;
            }
            @media(max-width:345px) {
                font-size: 16px;
            }
        }
    }
}

.coding-languages {
    font-size: 23px !important;
    color: #00BEE8;
}

.test-btn {
    width: 150px;
    height: 50px;
    background-color: #4B47FF !important;
    font-size: 23px;
    font-weight: 400;
    border-radius: 10px;
    transition: 150ms all ease-in-out;

    &:hover {
        background-color: #00BEE7 !important;
    }

    @media(max-width:900px) {
        font-size: 20px;
    }
}

.github-btn {
    width: 135px;
    background-color: transparent !important;
    border: 2px solid #00BEE7;
}

.background {
    position: absolute;
    z-index: -1;
    bottom: 70px;
    right: -400px;
    height: 900px;

    img {
        transform: rotate(70deg);
        height: 100%;
    }
    @media(max-width: 400px){
        right: -500px;
    }
}

.d-column-reverse {
    flex-direction: column-reverse;
}

.al-items-end {
    align-items: flex-end;
}