.imprint-content{
    height: 100vh;
    padding-top: 150px;
    width: 100%;
    background-color:  #141D2F;
    color: white;
    display: flex;
    justify-content: center;
    
    img{
        height: 30px;
        width: 30px;
        position: absolute;
        top: 100px;
        left: 20px;
        z-index: 10;
        cursor: pointer;
    }
}

.overdiv{
    position: relative;
    font-family: Poppins;
    background-color: #141d2f;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding-left: 20px;
    padding-top: 20px;
    text-align: center;
    overflow: auto;
}

p{
    font-size: unset !important;
}