/* Stilisiert den gesamten Scrollbar */
::-webkit-scrollbar {
    width: 10px; 
}

/* Stilisiert den Hintergrund der Scrollbar (Track) */
::-webkit-scrollbar-track {
    background: #141D2F; 
}

/* Stilisiert den beweglichen Teil der Scrollbar (Thumb) */
::-webkit-scrollbar-thumb {
    background: #00BEE7; 
}

/* Ändert die Farbe des beweglichen Teils beim Überfahren mit der Maus */
::-webkit-scrollbar-thumb:hover {
    background: #4B47FF; 
}


body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
app-header{
    background-color: #141D2F;
    width: 100%;
    position: fixed;
    z-index: 10;

}
app-main-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #141D2F; 
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', sans-serif !important; }
